body {
  background-color: steelblue;
}

.main-container {
  width: 90%;
  height: 80vh;
  background-color: greenyellow;
  margin: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; 
  justify-content: center;
  padding-bottom: 4rem;
}

.main-item {
  padding-left: 1rem;
}

.form-container {
  width: 90%;
  background-color: orange;
  margin: 2% 8% 2% 3%; 
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

.general-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-color: red;
  padding: 3rem 0;
  margin: 1rem;
}

label {
  margin: 0 0 0 2rem;
  font-size: 2rem;
}

.gear {
  font-size: 1.3rem;
}

.form-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}



.general-input {
  margin: 0 1.5rem
}
.strength-input {
  margin: 0 1rem;
}
.ocr-input {
  margin: 0 5.15rem;
}

button {
  margin: 0.5rem 1rem 0 5rem;
  width: 10rem;
}
